.elementor-4725
  .elementor-element.elementor-element-375b9dba:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-4725
  .elementor-element.elementor-element-375b9dba
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
  background-image: url("../images/bg-about.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-4725
  .elementor-element.elementor-element-375b9dba
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.4;
  transition: 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4725 .elementor-element.elementor-element-375b9dba {
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 220px 0px 150px 0px;
}
.elementor-4725 .elementor-element.elementor-element-41b7ac8f .pt-subtitle {
  font-size: 18px;
  margin: 0px 0px 20px 0px;
}
.elementor-4725 .elementor-element.elementor-element-41b7ac8f .pt-title {
  font-size: 80px;
  text-transform: uppercase;
}
.elementor-4725 .elementor-element.elementor-element-759db46a {
  padding: 120px 0px 0px 0px;
}
.elementor-4725 .elementor-element.elementor-element-75f1a756 .pt-title-wrap {
  max-width: 900px;
}
.elementor-4725 .elementor-element.elementor-element-75f1a756 .pt-subtitle {
  font-size: 18px;
  margin: 0px 0px 15px 0px;
}
.elementor-4725 .elementor-element.elementor-element-75f1a756 .pt-title {
  line-height: 1.2em;
}
.elementor-4725 .elementor-element.elementor-element-18c03112 {
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 0px 100px 0px;
}
.elementor-4725
  .elementor-element.elementor-element-18c03112
  > .elementor-background-overlay {
  transition: 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-4725
  .elementor-element.elementor-element-63151b7e.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-4725
  .elementor-element.elementor-element-63151b7e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-bc-flex-widget
  .elementor-4725
  .elementor-element.elementor-element-b178690.elementor-column
  .elementor-column-wrap {
  align-items: flex-end;
}
.elementor-4725
  .elementor-element.elementor-element-b178690.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-4725
  .elementor-element.elementor-element-b178690
  > .elementor-element-populated {
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-4725
  .elementor-element.elementor-element-b178690
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4725
  .elementor-element.elementor-element-5539668f
  > .elementor-widget-container {
    margin: 0% 0% 0% -15%;
}
.elementor-4725 .elementor-element.elementor-element-2356edb0 {
  --spacer-size: 50px;
}
.elementor-bc-flex-widget
  .elementor-4725
  .elementor-element.elementor-element-e251f29.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-4725
  .elementor-element.elementor-element-e251f29.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-4725
  .elementor-element.elementor-element-e251f29
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 10px;
}
.elementor-4725 .elementor-element.elementor-element-4e5920e4 .pt-subtitle {
  font-size: 18px;
  margin: 0px 0px 15px 0px;
}
.elementor-4725 .elementor-element.elementor-element-4e5920e4 .pt-title {
  text-transform: uppercase;
}
.elementor-4725 .elementor-element.elementor-element-4e5920e4 .pt-title-btn {
  margin: 25px 0px 0px 0px;
}
.elementor-4725 .elementor-element.elementor-element-304dba2a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 120px 0px;
}
.elementor-4725
  .elementor-element.elementor-element-304dba2a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-4725
  .elementor-element.elementor-element-46da9c30.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-4725
  .elementor-element.elementor-element-46da9c30.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-4725
  .elementor-element.elementor-element-46da9c30
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 60px 0px 0px;
}
.elementor-4725 .elementor-element.elementor-element-1cd3721f .pt-subtitle {
  font-size: 18px;
  margin: 0px 0px 15px 0px;
}
.elementor-4725 .elementor-element.elementor-element-1cd3721f .pt-title {
  text-transform: uppercase;
}
.elementor-4725 .elementor-element.elementor-element-1cd3721f .pt-title-btn {
  margin: 25px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-4725
  .elementor-element.elementor-element-543d52f.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-4725
  .elementor-element.elementor-element-543d52f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-4725
  .elementor-element.elementor-element-2980250
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4725 .elementor-element.elementor-element-2980250 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 120px 0px;
}
.elementor-4725 .elementor-element.elementor-element-617c1e69 .pt-title-wrap {
  max-width: 660px;
}
.elementor-4725 .elementor-element.elementor-element-617c1e69 .pt-subtitle {
  font-size: 18px;
  margin: 0px 0px 15px 0px;
}
.elementor-4725 .elementor-element.elementor-element-617c1e69 .pt-title {
  text-transform: uppercase;
  margin: 0px 0px -5px 0px;
}
.elementor-4725 .elementor-element.elementor-element-617c1e69 .pt-title-btn {
  margin: 25px 0px 0px 0px;
}
.elementor-4725
  .elementor-element.elementor-element-617c1e69
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-4725
  .elementor-element.elementor-element-67a3459a
  > .elementor-container {
  max-width: 1200px;
}
.elementor-4725
  .elementor-element.elementor-element-67a3459a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-4725
  .elementor-element.elementor-element-67a3459a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
  background-image: url("https://patiotime.loftocean.com/wp-content/uploads/2022/03/alaksiej-carankievic-JBDYs80RTcs-unsplash.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-4725
  .elementor-element.elementor-element-67a3459a
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.7;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4725 .elementor-element.elementor-element-67a3459a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 100px 0px;
}
.elementor-4725 .elementor-element.elementor-element-58f97d .pt-subtitle {
  font-size: 18px;
  margin: 0px 0px 15px 0px;
}
.elementor-4725 .elementor-element.elementor-element-58f97d .pt-title {
  text-transform: uppercase;
}
.elementor-4725 .elementor-element.elementor-element-58f97d .pt-title-btn {
  margin: 25px 0px 0px 0px;
}
.elementor-4725
  .elementor-element.elementor-element-58f97d
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-4725 .elementor-element.elementor-element-4541af80 {
  --form-bd: #ffffff80;
}
.elementor-4725 .elementor-element.elementor-element-6e98d3bd {
  font-size: 15px;
}
@media (max-width: 1024px) {
  .elementor-4725 .elementor-element.elementor-element-375b9dba {
    padding: 200px 0px 180px 0px;
  }
  .elementor-4725 .elementor-element.elementor-element-759db46a {
    padding: 80px 0px 0px 0px;
  }
  .elementor-4725 .elementor-element.elementor-element-75f1a756 .pt-title {
    font-size: 32px;
  }
  .elementor-4725 .elementor-element.elementor-element-18c03112 {
    padding: 80px 0px 80px 0px;
  }
  .elementor-4725
    .elementor-element.elementor-element-e251f29
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 30px 0px 0px 0px;
  }
  .elementor-4725 .elementor-element.elementor-element-304dba2a {
    padding: 0px 0px 80px 0px;
  }
  .elementor-4725
    .elementor-element.elementor-element-46da9c30
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 30px 0px 0px 0px;
  }
  .elementor-4725 .elementor-element.elementor-element-2980250 {
    padding: 80px 0px 80px 0px;
  }
  .elementor-4725 .elementor-element.elementor-element-67a3459a {
    padding: 80px 0px 80px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-4725 .elementor-element.elementor-element-41b7ac8f .pt-subtitle {
    font-size: 16px;
  }
  .elementor-4725 .elementor-element.elementor-element-41b7ac8f .pt-title {
    font-size: 48px;
  }
  .elementor-4725 .elementor-element.elementor-element-759db46a {
    padding: 60px 0px 0px 0px;
  }
  .elementor-4725 .elementor-element.elementor-element-75f1a756 .pt-subtitle {
    font-size: 16px;
  }
  .elementor-4725 .elementor-element.elementor-element-75f1a756 .pt-title {
    font-size: 26px;
  }
  .elementor-4725 .elementor-element.elementor-element-18c03112 {
    padding: 60px 0px 60px 0px;
  }
  .elementor-4725
    .elementor-element.elementor-element-5539668f
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
  }
  .elementor-4725 .elementor-element.elementor-element-2356edb0 {
    --spacer-size: 0px;
  }
  .elementor-4725
    .elementor-element.elementor-element-e251f29
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 10px 0px 0px 0px;
  }
  .elementor-4725 .elementor-element.elementor-element-4e5920e4 .pt-subtitle {
    font-size: 16px;
    margin: 25px 0 0 0;
  }
  .elementor embed, .elementor iframe, .elementor object, .elementor .video11 {
    width: 100%;
  }
  .pt-cta .pt-cta-img img {
      margin-bottom: 20px !important;
  }
  .elementor-4725 .elementor-element.elementor-element-304dba2a {
    padding: 0px 0px 60px 0px;
  }
  .elementor-4725 .elementor-element.elementor-element-1cd3721f .pt-subtitle {
    font-size: 16px;
  }
  .elementor-4725 .elementor-element.elementor-element-2980250 {
    padding: 60px 0px 60px 0px;
  }
  .elementor-4725 .elementor-element.elementor-element-617c1e69 .pt-subtitle {
    font-size: 16px;
  }
  .elementor-4725 .elementor-element.elementor-element-67a3459a {
    padding: 60px 0px 60px 0px;
  }
  .elementor-4725 .elementor-element.elementor-element-58f97d .pt-subtitle {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .elementor-4725 .elementor-element.elementor-element-63151b7e {
    width: 55%;
  }
  .elementor-4725 .elementor-element.elementor-element-b178690 {
    width: 50%;
  }
  .elementor-4725 .elementor-element.elementor-element-489ac196 {
    width: 50%;
  }
  .elementor-4725 .elementor-element.elementor-element-e251f29 {
    width: 45%;
  }
  .elementor-4725 .elementor-element.elementor-element-46da9c30 {
    width: 45%;
  }
  .elementor-4725 .elementor-element.elementor-element-543d52f {
    width: 55%;
  }
  .elementor-4725 .elementor-element.elementor-element-490d4b0f {
    width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-4725 .elementor-element.elementor-element-63151b7e {
    width: 100%;
  }
  .elementor-4725 .elementor-element.elementor-element-e251f29 {
    width: 100%;
  }
  .elementor-4725 .elementor-element.elementor-element-46da9c30 {
    width: 100%;
  }
  .elementor-4725 .elementor-element.elementor-element-543d52f {
    width: 100%;
  }
}
