.elementor-5388 .elementor-element.elementor-element-399bdab8 > .elementor-container {
	max-width: 1600px;
}

.elementor-5388 .elementor-element.elementor-element-399bdab8:not(.elementor-motion-effects-element-type-background), .elementor-5388 .elementor-element.elementor-element-399bdab8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #09080E;
}

.elementor-5388 .elementor-element.elementor-element-399bdab8 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-5388 .elementor-element.elementor-element-399bdab8 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5388 .elementor-element.elementor-element-fa9536c {
	padding: 45px 0px 25px 0px;
}

.elementor-5388 .elementor-element.elementor-element-43da9d86 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 0px 36px 0px 0px;
}

.elementor-5388 .elementor-element.elementor-element-2141bf41 .pt-title-text {
	color: #E1E1E1;
	font-size: 15px;
}

.elementor-5388 .elementor-element.elementor-element-245d386b > .elementor-element-populated > .elementor-widget-wrap {
	padding: 0px 24px 0px 12px;
}

.elementor-5388 .elementor-element.elementor-element-7fb53207 .pt-subtitle {
	font-size: 16px;
}

.elementor-5388 .elementor-element.elementor-element-52e86069 .pt-widget_opening_hours {
	color: #E1E1E1;
	font-size: 15px;
}

.elementor-5388 .elementor-element.elementor-element-52e86069 > .elementor-widget-container {
	padding: 0px 40px 0px 0px;
}

.elementor-5388 .elementor-element.elementor-element-3e07b4d3 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 0px 12px 0px 24px;
}

.elementor-5388 .elementor-element.elementor-element-434cbc38 .pt-subtitle {
	font-size: 16px;
}

.elementor-5388 .elementor-element.elementor-element-434cbc38 .pt-title-text {
	color: #E1E1E1;
	font-size: 16px;
}

.elementor-5388 .elementor-element.elementor-element-101a3310 .pt-info {
	font-size: 15px;
}

.elementor-5388 .elementor-element.elementor-element-70df0470 .pt-info {
	font-size: 15px;
}

.elementor-5388 .elementor-element.elementor-element-422516af .pt-info {
	font-size: 15px;
}

.elementor-5388 .elementor-element.elementor-element-4b3b3bc9 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 0px 0px 0px 36px;
}

.elementor-5388 .elementor-element.elementor-element-7339ca73 .pt-subtitle {
	font-size: 16px;
}

.elementor-5388 .elementor-element.elementor-element-7339ca73 .pt-title-text {
	color: #E1E1E1;
	font-size: 15px;
}

.elementor-5388 .elementor-element.elementor-element-3382cb1f > .elementor-widget-container {
	margin: -20px 0px 0px 0px;
}

.elementor-5388 .elementor-element.elementor-element-2c9959a1 {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #FFFFFF14;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 0px 15px 0px;
}

.elementor-5388 .elementor-element.elementor-element-2c9959a1 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-5388 .elementor-element.elementor-element-79a11e1.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-5388 .elementor-element.elementor-element-79a11e1.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-5388 .elementor-element.elementor-element-2a727e08 {
	color: #B0B0B0;
	font-size: 15px;
}

.elementor-bc-flex-widget .elementor-5388 .elementor-element.elementor-element-34558eb1.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-5388 .elementor-element.elementor-element-34558eb1.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-5388 .elementor-element.elementor-element-34558eb1.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-5388 .elementor-element.elementor-element-2f45ced .pt-menu {
	color: #B0B0B0;
}

.elementor-5388 .elementor-element.elementor-element-2f45ced > .elementor-widget-container {
	margin: 0px -15px 0px 0px;
}

@media(max-width:1024px) {
	.elementor-5388 .elementor-element.elementor-element-43da9d86 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 0px 30px 0px 0px;
	}

	.elementor-5388 .elementor-element.elementor-element-2141bf41 .pt-title {
		font-size: 30px;
	}

	.elementor-5388 .elementor-element.elementor-element-245d386b > .elementor-element-populated > .elementor-widget-wrap {
		padding: 0px 0px 0px 30px;
	}

	.elementor-5388 .elementor-element.elementor-element-52e86069 > .elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-5388 .elementor-element.elementor-element-3e07b4d3 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 60px 30px 0px 0px;
	}

	.elementor-5388 .elementor-element.elementor-element-4b3b3bc9 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 60px 0px 0px 30px;
	}

	.elementor-5388 .elementor-element.elementor-element-2a727e08 {
		text-align: center;
	}

	.elementor-5388 .elementor-element.elementor-element-34558eb1.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-5388 .elementor-element.elementor-element-34558eb1 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 30px 0px 0px 0px;
	}

	.elementor-5388 .elementor-element.elementor-element-2f45ced > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
}

@media(max-width:767px) {
	.elementor-5388 .elementor-element.elementor-element-fa9536c {
		padding: 60px 0px 60px 0px;
	}

	.elementor-5388 .elementor-element.elementor-element-43da9d86 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 0px 0px 0px 0px;
	}

	.elementor-5388 .elementor-element.elementor-element-245d386b > .elementor-element-populated > .elementor-widget-wrap {
		padding: 50px 0px 0px 0px;
	}

	.elementor-5388 .elementor-element.elementor-element-3e07b4d3 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 50px 0px 0px 0px;
	}

	.elementor-5388 .elementor-element.elementor-element-4b3b3bc9 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 50px 0px 0px 0px;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-5388 .elementor-element.elementor-element-43da9d86 {
		width: 50%;
	}

	.elementor-5388 .elementor-element.elementor-element-245d386b {
		width: 50%;
	}

	.elementor-5388 .elementor-element.elementor-element-3e07b4d3 {
		width: 50%;
	}

	.elementor-5388 .elementor-element.elementor-element-4b3b3bc9 {
		width: 50%;
	}

	.elementor-5388 .elementor-element.elementor-element-79a11e1 {
		width: 100%;
	}

	.elementor-5388 .elementor-element.elementor-element-34558eb1 {
		width: 100%;
	}
}