.elementor-5915
  .elementor-element.elementor-element-45ee85a1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5915
  .elementor-element.elementor-element-45ee85a1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
  background-image: url("../images/menu-bg.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-5915
  .elementor-element.elementor-element-45ee85a1
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915 .elementor-element.elementor-element-45ee85a1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 200px 0px 180px 0px;
}
.elementor-5915 .elementor-element.elementor-element-7f5dfe75 .pt-subtitle {
  font-size: 18px;
  margin: 0px 0px 20px 0px;
}
.elementor-5915 .elementor-element.elementor-element-7f5dfe75 .pt-title {
  font-size: 80px;
  text-transform: uppercase;
}
.elementor-5915
  .elementor-element.elementor-element-3cd8245b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5915
  .elementor-element.elementor-element-3cd8245b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-5915 .elementor-element.elementor-element-3cd8245b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 80px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-3cd8245b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915
  .elementor-element.elementor-element-25a9c202
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 32px 0px 0px;
}
.elementor-5915 .elementor-element.elementor-element-30383d4e .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-30383d4e
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-3ffdc1e0
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-5484c1a4
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 16px 0px 16px;
}
.elementor-5915 .elementor-element.elementor-element-5d38d993 .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-5d38d993
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-39d60ef0
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-327b4e7b
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 32px;
}
.elementor-5915 .elementor-element.elementor-element-12e77a11 .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-12e77a11
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-54616cb3
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-5527f62a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5915
  .elementor-element.elementor-element-5527f62a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
  background-image: url("https://patiotime.loftocean.com/wp-content/uploads/2022/03/louis-hansel-SQczzyGkmpU-unsplash.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-5915
  .elementor-element.elementor-element-5527f62a
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915 .elementor-element.elementor-element-5527f62a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-5915 .elementor-element.elementor-element-7cb01ef4 .pt-subtitle {
  font-size: 16px;
  margin: 0px 0px 15px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-2a418c3f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5915
  .elementor-element.elementor-element-2a418c3f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-5915 .elementor-element.elementor-element-2a418c3f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 80px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-2a418c3f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915
  .elementor-element.elementor-element-c8da6c6
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 32px 0px 0px;
}
.elementor-5915 .elementor-element.elementor-element-16d23a53 .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-16d23a53
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-5cadba6e
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-73f4f97
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 16px 0px 16px;
}
.elementor-5915 .elementor-element.elementor-element-6680033e .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-6680033e
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-7c3f3eb6
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-8048107
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 32px;
}
.elementor-5915 .elementor-element.elementor-element-1927e74c .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-1927e74c
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-1d7fcd02
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-3e8e3d7e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5915
  .elementor-element.elementor-element-3e8e3d7e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
  background-image: url("../images/inside-restaurant-topview.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-5915
  .elementor-element.elementor-element-3e8e3d7e
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915 .elementor-element.elementor-element-3e8e3d7e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-5915 .elementor-element.elementor-element-53d99d25 .pt-subtitle {
  font-size: 16px;
  margin: 0px 0px 15px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-75dd1fd2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5915
  .elementor-element.elementor-element-75dd1fd2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-5915 .elementor-element.elementor-element-75dd1fd2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 80px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-75dd1fd2
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915
  .elementor-element.elementor-element-441e8cd9
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 32px 0px 0px;
}
.elementor-5915 .elementor-element.elementor-element-3310c5e0 .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-3310c5e0
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-3f7f02bf
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-7533cb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 16px 0px 16px;
}
.elementor-5915 .elementor-element.elementor-element-19fcaaa .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-19fcaaa
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-7372cde5
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-7297ec38
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 32px;
}
.elementor-5915 .elementor-element.elementor-element-2d784a35 .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-2d784a35
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-6a1bcf19
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-16ff71ce:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5915
  .elementor-element.elementor-element-16ff71ce
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
  background-image: url("https://patiotime.loftocean.com/wp-content/uploads/2022/03/louis-hansel-SQczzyGkmpU-unsplash.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-5915
  .elementor-element.elementor-element-16ff71ce
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915 .elementor-element.elementor-element-16ff71ce {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-5915 .elementor-element.elementor-element-54e33624 .pt-subtitle {
  font-size: 16px;
  margin: 0px 0px 15px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-9fd345d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5915
  .elementor-element.elementor-element-9fd345d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-5915 .elementor-element.elementor-element-9fd345d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 80px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-9fd345d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915
  .elementor-element.elementor-element-75cdbdb9
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 32px 0px 0px;
}
.elementor-5915 .elementor-element.elementor-element-770d423a .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-770d423a
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-57b9e281
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-2a412248
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 16px 0px 16px;
}
.elementor-5915 .elementor-element.elementor-element-73ef6bc8 .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-73ef6bc8
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-6ca3ef94
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-4c5316d7
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 32px;
}
.elementor-5915 .elementor-element.elementor-element-33cec6a7 .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-33cec6a7
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-40647106
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-370a9a57:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5915
  .elementor-element.elementor-element-370a9a57
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
  background-image: url("https://patiotime.loftocean.com/wp-content/uploads/2022/03/louis-hansel-SQczzyGkmpU-unsplash.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-5915
  .elementor-element.elementor-element-370a9a57
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915 .elementor-element.elementor-element-370a9a57 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-5915 .elementor-element.elementor-element-3a05683a .pt-subtitle {
  font-size: 16px;
  margin: 0px 0px 15px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-50d30c74:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5915
  .elementor-element.elementor-element-50d30c74
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-5915 .elementor-element.elementor-element-50d30c74 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 80px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-50d30c74
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915
  .elementor-element.elementor-element-72f05f27
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 40px 0px 0px;
}
.elementor-5915 .elementor-element.elementor-element-778b7454 .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-778b7454
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-31db5820
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-640fe456
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 40px;
}
.elementor-5915 .elementor-element.elementor-element-6ad13ee2 .pt-subtitle {
  margin: 0px 0px 10px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-6ad13ee2
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-cbcd5c2
  .pt-food-menu-group
  span {
  border-style: solid;
}
.elementor-5915
  .elementor-element.elementor-element-52450e8d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5915
  .elementor-element.elementor-element-52450e8d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
  background-image: url("https://patiotime.loftocean.com/wp-content/uploads/2022/03/louis-hansel-SQczzyGkmpU-unsplash.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-5915
  .elementor-element.elementor-element-52450e8d
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915 .elementor-element.elementor-element-52450e8d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-5915 .elementor-element.elementor-element-32121be4 .pt-title-wrap {
  max-width: 569px;
}
.elementor-5915 .elementor-element.elementor-element-32121be4 .pt-subtitle {
  font-size: 16px;
  margin: 0px 0px 15px 0px;
}
.elementor-5915 .elementor-element.elementor-element-756ca633 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 80px 0px;
}
.elementor-5915
  .elementor-element.elementor-element-756ca633
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5915
  .elementor-element.elementor-element-642dad0c
  .pt-food-menu-price {
  font-size: 16px;
  line-height: 36px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-5915 .elementor-element.elementor-element-25a9c202 {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-5484c1a4 {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-327b4e7b {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-c8da6c6 {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-73f4f97 {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-8048107 {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-441e8cd9 {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-7533cb {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-7297ec38 {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-75cdbdb9 {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-2a412248 {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-4c5316d7 {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-72f05f27 {
    width: 100%;
  }
  .elementor-5915 .elementor-element.elementor-element-640fe456 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-5915 .elementor-element.elementor-element-45ee85a1 {
    padding: 200px 0px 180px 0px;
  }
  .elementor-5915 .elementor-element.elementor-element-3cd8245b {
    padding: 30px 0px 30px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-25a9c202
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 30px 0px 0px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-5484c1a4
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 32px 0px 0px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-327b4e7b
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 32px 0px 30px 0px;
  }
  .elementor-5915 .elementor-element.elementor-element-2a418c3f {
    padding: 30px 0px 30px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-c8da6c6
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 30px 0px 0px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-73f4f97
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 32px 0px 0px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-8048107
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 32px 0px 30px 0px;
  }
  .elementor-5915 .elementor-element.elementor-element-75dd1fd2 {
    padding: 30px 0px 30px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-441e8cd9
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 30px 0px 0px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-7533cb
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 32px 0px 0px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-7297ec38
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 32px 0px 30px 0px;
  }
  .elementor-5915 .elementor-element.elementor-element-9fd345d {
    padding: 30px 0px 30px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-75cdbdb9
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 30px 0px 0px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-2a412248
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 32px 0px 0px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-4c5316d7
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 32px 0px 30px 0px;
  }
  .elementor-5915 .elementor-element.elementor-element-50d30c74 {
    padding: 30px 0px 30px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-72f05f27
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 30px 0px 0px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-640fe456
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 32px 0px 30px 0px;
  }
  .elementor-5915 .elementor-element.elementor-element-756ca633 {
    padding: 80px 0px 80px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-45fbedad
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-5915 .elementor-element.elementor-element-7f5dfe75 .pt-subtitle {
    font-size: 16px;
  }
  .elementor-5915 .elementor-element.elementor-element-7f5dfe75 .pt-title {
    font-size: 48px;
  }
  .elementor-5915 .elementor-element.elementor-element-3cd8245b {
    padding: 10px 0px 10px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-3ffdc1e0
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915
    .elementor-element.elementor-element-39d60ef0
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915
    .elementor-element.elementor-element-54616cb3
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915 .elementor-element.elementor-element-2a418c3f {
    padding: 10px 0px 10px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-5cadba6e
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915
    .elementor-element.elementor-element-7c3f3eb6
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915
    .elementor-element.elementor-element-1d7fcd02
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915 .elementor-element.elementor-element-75dd1fd2 {
    padding: 10px 0px 10px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-3f7f02bf
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915
    .elementor-element.elementor-element-7372cde5
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915
    .elementor-element.elementor-element-6a1bcf19
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915 .elementor-element.elementor-element-9fd345d {
    padding: 10px 0px 10px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-57b9e281
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915
    .elementor-element.elementor-element-6ca3ef94
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915
    .elementor-element.elementor-element-40647106
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915 .elementor-element.elementor-element-50d30c74 {
    padding: 10px 0px 10px 0px;
  }
  .elementor-5915
    .elementor-element.elementor-element-31db5820
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915
    .elementor-element.elementor-element-cbcd5c2
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
  }
  .elementor-5915 .elementor-element.elementor-element-756ca633 {
    padding: 60px 0px 60px 0px;
  }
}
